<div class="container">

<h1 class="text-center">SimpleBBS</h1>

<div id="posts">
  <% @posts.each do |p| %>
    <ul>
      <li><%= p.id %></li>
      <ul>
        <li><%= p.user_name %></li>
        <li><%= p.message %></li>
      </ul>
    </ul>
  <% end %>
</div>

<div id="forms">
  <form method="POST">
      <input  class="form-control" type="text" name="mess" placeholder="入力してください" value="">
      <input  class="form-control" type="text" name="user_name" placeholder="ユーザー名" value="">
      <input type="submit" value="投稿">
  </form>
</div>

</div>