body {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',Meiryo,Helvetica,Arial,Sans-Serif;
  -webkit-font-smoothing: antialiased;
}

#title {
  margin-left: 3em;
}

#posts {
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
}

#forms {
  margin-top: 5em;
}

#btn-post {
  margin-top: 1.95em;
}

.post {
  /*margin-bottom: 2em;*/
}

.post-info {
  
}

.post-info span {
  margin-left: 3em;
}

.message {
  font-size: 1.2em;
  margin: 1em 2em;
  word-wrap: break-word;
}

.btn-del {
  float: right;
}